<% content_for :description do %>
  <p>
    <i>Freaks’ Squeele</i>, le jeu d’aventures est l’adaptation en jeu de rôle de l’univers de bandes
    dessinées de Florent Maudoux. Celles-ci racontent les aventures de Li Xiong Mao, Chance
    d’Estaing et Ombre de Loup, trois étudiants pas comme les autres qui viennent d’intégrer la FEAH, la Faculté d’Études Académiques des Héros.
  </p>
  <p>
    Dans <i>Freaks’ Squeele</i>, le jeu d’aventures, c’est vous qui allez incarner un étudiant frais
    émoulu (comme le café) en première année de la FEAH. Et, avec vos petits camarades, vous
    allez devoir gérer les désagréments de la vie estudiantine dans un campus de freaks aux
    pouvoirs extraordinaires, entre l’administration incompétente, les TP absurdes, les profs
    caractériels, les autres étudiants jaloux, la famille envahissante et les plans mégalomanes du
    doyen. Et peut-être même que vous aurez à sauver le monde. Mais chut, il ne faut pas le dire trop fort.
  </p>
  <p>
    <i>Freaks’ Squeele</i>, c’est un univers décalé : des personnages avec des pouvoirs hors du commun, mais aussi des problèmes hors du commun, dans un monde qui ressemble au nôtre.
  </p>
  <p>
    <i>Freaks’ Squeele</i>, le jeu d’aventures possède son propre site web. Retrouvez tous vos héros et plus encore sour <a href="http://squeele.fr" tagret="_blank">http://squeele.fr</a>.
  </p>
<% end %>
