<% content_for :description do %>
<p>L’inquisition. Sa mission est de traquer les traîtres à la Création, de mettre en échec les actions des Tourmenteurs et de fournir le Tribunal des Sauterelles en victimes de toutes sortes.<p>

<p>L’inquisition. Presque toute-puissante mais aujourd’hui en recherche de nouvelles forces, elle se tourne vers le Sanctuaire des personnages.</p>

<p>Perfidie, tricherie et traîtrise, voilà très certainement contre quoi ils devront se battre...</p>

<p>Perfidie est le premier supplément en langue française pour le jeu de rôle Nobilis. Dans ses pages vous trouverez un décor de campagne pouvant être lu par les joueurs et complétant les informations sur Locus Parasiel et ses Nobilis. S’y trouvent aussi les erratas du livre de base, de nouvelles feuilles d’aides de jeu ainsi que le résumé de la création de personnages. </p>

<p>Illustré par <b>Amandine Labarre</b>, <b>Nathalie Imhof</b> et <b>Seeberg</b>.</p>
<% end %>
