<% content_for :description do %>
<p>Dieux malgré eux, pouvoirs impossibles et dangers étrangers à cette terre.</p>

<p>
Derrière le ciel, le frêne universel s’étend de l’enfer au paradis, portant d’innombrables mondes dans ses branches titanesques. Aux marches de ces royaumes, le divin et l’étrange luttent, idée par idée, pour diriger et définir la totalité de l’existence... ou la détruire intégralement.
</p>

<p>
Les Nobilis se tiennent sur la ligne de front de ce conflit céleste. Nés humains, ils sont maintenant quelque chose de plus, sublimés, imprégnés chacun d’un fragment du pouvoir créateur, et doués désormais de la maîtrise totale d’une facette de la réalité.
</p>

<p>
Amour, guerre, musique, acier, tonnerre, agonie, extase ou n’importe quel autre composant de l’infini: un Nobilis est son incarnation, maître et protecteur.<br/>
Nobilis vous propose d’interpréter un de ces gardiens de la réalité. Dans ce jeu,
qui ne nécessite pas de dés, vous serez un être mi-homme, mi-dieu, devant défendre
son propre domaine contre des ennemis traîtres ou chevaleresques.<br/>
Déchaînez votre imagination et les pouvoirs transcendants des dieux, pour vivre
une intense expérience de jeu de rôles, à la découverte des secrets cachés de l’univers
et de l’âme humaine. Vous trouverez dans ce livre les règles complètes de jeu,
un contexte détaillé, des descriptions et conseils sur la manière de mener et de jouer
un partie de Nobilis, des profils types de personnages et un scénario d’introduction.<br/>
Illustré par <b>Charles Vess</b>, <b>Bryan Talbot</b>, <b>Michael Kaluta</b>, <b>Lee Moyer</b>, <b>Raven Mimura</b>, <b>Rik Martin</b>,
<b>Martin Mc Kenna</b>, <b>Frazer Irving</b>, <b>Ralph Horsley</b>, <b>Denise Garner</b>, <b>Al Davison</b> et <b>Arcimboldo</b>.<br/>
<i>“Imaginez les mondes de Sandman de Neil Gaiman et de Hellraiser de Clive Barker,
noyés dans l’absinthe et avec des fleurs: voilà Nobilis.”</i> Kenneth Hite
</p>

<% end %>
