<img src="<%= image_path('plus_sign.png') %>" class="news"></img>
<h5>News</h5>
<div class="both"></div>
<p><%= item_news(item) %></p>
<div class="both"></div>
<hr />

<div class="row">
  <div class="span6">
    <h4>Où trouver nos jeux ?</h4>
    <hr class="small" />
    <p>
      La plupart de nos produits sont disponibles dans les boutiques de jeux, à l’exception de Freaks’ Squeele, le jeu d’aventures qui est vendu dans le circuit BD de la grande distribution.
    </p>
    <br /><br />
  </div>

  <div class="span6">
    <h4>Distribution</h4>
    <hr class="small" />
    <p>
      Les jeux édités par 2d Sans Faces sont distribués par <a href="http://trade.abyssecorp.com/fr/834-jeux-de-role#/licence-2d_sans_faces" target="_blank">Abysse Hobby</a>. Quant à Freaks’ Squeele, le jeu d’aventures, il est édité et distribué par <a href="http://www.ankama-editions.com/fr" target="_blank">Ankama Editions</a>.
    </p>
    <br /><br />
  </div>

  <div class="span6">
    <h4>Impressions à la demande</h4>
    <hr class="small" />
    <p>
    Les suppléments Tigres Volants de La Bibliothèque tachyonique ainsi que les suppléments Nightprowler de La Voix des Ombres sont disponibles en print on demand sur la plateforme <a href="http://www.lulu.com/spotlight/2dsf" target="_blank">Lulu</a>.
    </p>
    <br /><br />
</div>
