<% content_for :articleBox do %>
  <div id="newsBox" class="notDead_landscape" /></div>
<% end %>

<img src="/assets/news.png" class="news"></img>
<p>Vous voici parvenu dans le site de 2d Sans Faces. L'éditeur des jeux de rôles Nightprowler. Tigres Volants et Nobilis. Vous trouverez ici toutes sortes d'informations concernant nos activités éditoriales et nos produits actuellement commercialisés ou encore en développement.</p>
<hr />
<h2>GOODIES</h2>
<h1>NIGHTPROWLER 2</h2>
<hr  class="goodiesHr" />
<div class="row">
  <div class="span4">
    <h3>Feuille de personnage</h3>
    <img src="/assets/fdp.jpg" class="newsimg"></img>
  </div>
  <div class="span4">
    <h3>aide de jeu</h3>
    <img src="/assets/aide_memoire.jpg" class="newsimg"></img>
  </div>
  <div class="span4">
    <h3>Scénario</h3>
    <img src="/assets/defaut.jpg" class="newsimg"></img>
  </div>
</div>
<div class="both"></div>
<h2>GOODIES</h2>
<h1>TIGRES VOLANTS 3</h2>
<hr  class="goodiesHr" />
<div class="row">
  <div class="span4">
    <h3>Feuille de personnage</h3>
    <img src="/assets/fdp2.jpg" class="newsimg"></img>
  </div>
  <div class="span4">
    <h3>Tigres Volants lite</h3>
    <img src="/assets/Lite.jpg" class="newsimg"></img>
  </div>
  <div class="span4">
    <h3>Scénario</h3>
    <img src="/assets/scenario.jpg" class="newsimg"></img>
  </div>
  <div class="both"></div>
</div>
<h2>GOODIES</h2>
<h1>NOBILIS</h2>
<hr  class="goodiesHr" />
<div class="row">
  <div class="span4">
    <h3>Feuille de personnage</h3>
    <img src="/assets/Nobilis_fdp.jpg" class="newsimg"></img>
  </div>
  <div class="span4">
    <h3>Feuille d'imperator</h3>
    <img src="/assets/fimperator.jpg" class="newsimg"></img>
  </div>
  <div class="span4">
    <h3>Scénario</h3>
    <img src="/assets/defaut.jpg" class="newsimg"></img>
  </div>
  <div class="both"></div>
</div>

