<% content_for :articleBox do %>
  <div id="newsBox" class="notDead_landscape" /></div>
<% end %>

<img src="<%= image_path('+_sign.png') %>" class="news"></img>
<h5>NEWS</h5>
<div class="both"></div>
<p>Vous voici parvenu dans le site de 2d Sans Faces. L'éditeur des jeux de rôles Itras By, Nightprowler. Tigres Volants et Nobilis. Vous trouverez ici toutes sortes d'informations concernant nos activités éditoriales et nos produits actuellement commercialisés ou encore en développement.</p>
<hr />
<h2>Goodies</h2>
<h1>Itras By</h2>
<hr  class="goodiesHr" />
<div class="row">
  <div class="span3">
    <h3>Feuille de personnage</h3>
    <a href="IB_fdp_2018.pdf"><img src="<%= image_path('IB_fdp_2018.jpg') %>" class="goodiesImg"></img></a>
  </div>
  <div class="span3">
    <h3>Cartes à fabriquer soi-même</h3>
    <a href="IB_cartes_DIY_2018.pdf"><img src="<%= image_path('IB_cartes_DIY_2018.jpg') %>" class="goodiesImg"></img></a>
  </div>
  <div class="both"></div>
</div>
<h2>Goodies</h2>
<h1>Nightprowler 2</h2>
<hr  class="goodiesHr" />
<div class="row">
  <div class="span3">
    <h3>Feuille de personnage</h3>
    <a href="fdp.pdf"><img src="<%= image_path('fdp.jpg') %>" class="goodiesImg"></img></a>
  </div>
  <div class="span3">
    <h3>Aides de jeu</h3>
    <a href="aidememoire.pdf"><img src="<%= image_path('aide_memoire.jpg') %>" class="goodiesImg"></img></a>
  </div>
  <div class="span3">
    <h3>Scénario</h3>
    <a href="#"><img src="<%= image_path('defaut.jpg') %>" class="goodiesImg"></img></a>
  </div>
</div>
<div class="both"></div>
<h2>Goodies</h2>
<h1>Tigres Volants 3</h2>
<hr  class="goodiesHr" />
<div class="row">
  <div class="span3">
    <h3>Feuille de personnage</h3>
    <a href="fdp2.pdf"><img src="<%= image_path('fdp2.jpg') %>" class="goodiesImg"></img></a>
  </div>
  <div class="span3">
    <h3>Tigres Volants lite</h3>
    <a href="lite.pdf"><img src="<%= image_path('Lite.jpg') %>" class="goodiesImg"></img></a>
  </div>
  <div class="span3">
    <h3>Scénario</h3>
    <a href="#"><img src="<%= image_path('scenario.jpg') %>" class="goodiesImg"></img></a>
  </div>
  <div class="both"></div>
</div>
<h2>Goodies</h2>
<h1>Nobilis</h2>
<hr  class="goodiesHr" />
<div class="row">
  <div class="span3">
    <h3>Feuille de personnage</h3>
    <a href="nobilisfdp.pdf"><img src="<%= image_path('Nobilis_fdp.jpg') %>" class="goodiesImg"></img></a>
  </div>
  <div class="span3">
    <h3>Feuille d'imperator</h3>
    <a href="fimperator.pdf"><img src="<%= image_path('fimperator.jpg') %>" class="goodiesImg"></img></a>
  </div>
  <div class="span3">
    <h3>Scénario</h3>
    <a href="#"><img src="<%= image_path('defaut.jpg') %>" class="goodiesImg"></img></a>
  </div>
  <div class="both"></div>
</div>
