<% content_for :articleBox do %>
    <div id="newsBox" class="passages_landscape">
      <p>La Réalité a des plis <br/>En développement</p>
    </div>
<% end %>
<img src="<%= image_path('+_sign.png') %>" class="news"></img>
<h5>NEWS</h5>
<div class="both"></div>
<p><%= item_news(item) %></p>
<div class="both"></div>
<hr />
<div class="row">
  <div class="span3">
    <h2>Nouveauté</h2>
    <h1>Itras By</h1>
    <hr class="small"/>
    <div class="imagehomepage imghome4">
      <a href="/jeux/itrasby/"><img src="<%= image_path('jeux_itrasby_ldb.jpg') %>"></img></a>
    </div>
    <p>Venu de Norvège, le jeu de rôle du fantastique surréaliste tendance Années Folles. Visitez la ville de la déesse Itra, luttez contre les machinations des Futuristes et des serviteurs du Dieu Machine, découvrez la vie en marge des Limbes et des Terres étranges. </p>
  </div>
  <div class="span3">
    <h2>Tigres Volants</h2>
    <h1>La campagne Lupanar</h1>
    <hr class="small"/>
    <div class="imagehomepage imghome2">
      <a href="/jeux/tigresvolants/"><img src="<%= image_path('jeux_tv3_ldb.jpg') %>"></img></a>
    </div>
    <p>L'aventure pulp et rock'n'roll née de la collision de deux civilisations... différentes. Dans cette campagne pour le célèbre jeu de Stéphane "Alias" Gallay, les "héros" se retrouvent à gérer un héritage imprévu et les complications qui vont avec le fossé culturel entre les Eyldar et les Terriens. </p>
  </div>
  <div class="span3">
    <h2>Les Contes du Soleil Couchant</h2>
    <h1>En Développement</h1>
    <hr class="small"/>
    <div class="imagehomepage imghome3">
      <a href="/jeux/soleilcouchant/"><img src="<%= image_path('jeux_cdsc_ldb.jpg') %>"></img></a>
    </div>
    <p>2d Sans Faces sortira, en fin d’année 2018, l’adaptation du jeu de rôle Yuukake Koyake, sous le titre Les Contes du Soleil Couchant, un jeu très mignon venu tout droit du Japon.</p>
    <p>Découvrez la campagne japonaise dans la peau d’un de ces animaux qui peut prendre forme humaine et dotés de petits pouvoirs pour aidez la communauté. Un jeu 100% kawai, plein de tendresse et adapté avec bienveillance : l’édition française sera augmentée de quelques illustrations, conseils de jeu et ébauches de scénarios pour vous accompagner dans cet univers enchanteur et dépaysant.</p>
  </div>
  <div class="span3">
    <h2>Nightprowler</h2>
    <h1>En Développement</h1>
    <hr class="small"/>
    <div class="imagehomepage imghome1">
      <a href="/jeux/nightprowler/"><img src="<%= image_path('jeux_np2_arlam.jpg') %>"></img></a>
    </div>
    <p>Dans la continuité de la gamme Nightprowler (NP2), Les Impostures d'Arlam présenteront les secrets de l'Église d'Arlam, et bien d'autres choses pour tourmenter les personnages. </p>
  </div>
</div>
<div class="both"></div>
