<% content_for :articleBox do %>
    <div id="newsBox" class="passages_landscape">
      <p>La Réalité à des plis <br/>EN DÉVELOPPEMENT</p>
    </div>
<% end %>
<img src="<%= image_path('news.png') %>" class="newsimg"></img>
<p>Vous voici parvenu dans le site de 2d Sans Faces. L'éditeur des jeux de rôles Nightprowler. Tigres Volants et Nobilis. Vous trouverez ici toutes sortes d'informations concernant nos activités éditoriales et nos produits actuellement commercialisés ou encore en développement.</p>
<div class="both"></div>
<hr />
<div id="row">
  <h2>GAMME Nightprowler</h2>
  <h1>Les impostures d'Arlam</h1>
  <hr class="small"/>
  <img src="<%= image_path('nightProwler.jpg') %>" class="newsimg"></img>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor auctor purus non mattis. Aenean nulla turpis, luctus a neque ullamcorper, eleifend ullamcorper metus. Nulla facilisi. Donec condimentum turpis pharetra dui placerat viverra et eget nisl. Mauris sit amet tortor in risus blandit pulvinar ac quis nisi. Mauris lacinia molestie euismod. Praesent hendrerit magna vel aliquet consequat. </p>
</div>
<div id="row">
  <h2>GAMME Tigres Volants</h2>
  <h1>La campagne Lupanar</h1>
  <hr class="small"/>
  <img src="<%= image_path('tigresVolants.jpg') %>" class="newsimg"></img>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor auctor purus non mattis. Aenean nulla turpis, luctus a neque ullamcorper, eleifend ullamcorper metus. Nulla facilisi. Donec condimentum turpis pharetra dui placerat viverra et eget nisl. Mauris sit amet tortor in risus blandit pulvinar ac quis nisi. Mauris lacinia molestie euismod. Praesent hendrerit magna vel aliquet consequat. </p>
</div>
<div id="row">
  <h2>GAMME Developpement</h2>
  <h1>Passages</h1>
  <hr class="small"/>
  <img src="<%= image_path('Passages.jpg') %>" class="newsimg"></img>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor auctor purus non mattis. Aenean nulla turpis, luctus a neque ullamcorper, eleifend ullamcorper metus. Nulla facilisi. Donec condimentum turpis pharetra dui placerat viverra et eget nisl. Mauris sit amet tortor in risus blandit pulvinar ac quis nisi. Mauris lacinia molestie euismod. Praesent hendrerit magna vel aliquet consequat. </p>
</div>
<div id="row">
  <h2>NEWS</h2>
  <h1>Itras by</h1>
  <hr class="small"/>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor auctor purus non mattis. Aenean nulla turpis, luctus a neque ullamcorper, eleifend ullamcorper metus. Nulla facilisi. Donec condimentum turpis pharetra dui placerat viverra et eget nisl. Mauris sit amet tortor in risus blandit pulvinar ac quis nisi. Mauris lacinia molestie euismod. Praesent hendrerit magna vel aliquet consequat. </p>
</div>
<div class="both"></div>