<% content_for :articleBox do %>
    <div id="newsBox" class="passages_landscape">
      <p>La Réalité à des plis <br/>En développement</p>
    </div>
<% end %>
<img src="<%= image_path('+_sign.png') %>" class="news"></img>
<h5>NEWS</h5>
<div class="both"></div>
<p><%= item_news(item) %></p>
<div class="both"></div>
<hr />
<div class="row">
  <div class="span3">
    <h2>Gamme Nightprowler</h2>
    <h1>Les impostures d'Arlam</h1>
    <hr class="small"/>
    <div class="imagehomepage imghome1">
      <a href="/jeux/nightprowler/"><img src="<%= image_path('arlam.jpg') %>"></img></a>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor auctor purus non mattis. Aenean nulla turpis, luctus a neque ullamcorper, eleifend ullamcorper metus. Nulla facilisi. Donec condimentum turpis pharetra dui placerat viverra et eget nisl. Mauris sit amet tortor in risus blandit pulvinar ac quis nisi. Mauris lacinia molestie euismod. Praesent hendrerit magna vel aliquet consequat. </p>
  </div>
  <div class="span3">
    <h2>Gamme Tigres Volants</h2>
    <h1>La campagne Lupanar</h1>
    <hr class="small"/>
    <div class="imagehomepage imghome2">
      <a href="/jeux/tigresvolants/"><img src="<%= image_path('jeux_tigresvolants.jpg') %>"></img></a>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor auctor purus non mattis. Aenean nulla turpis, luctus a neque ullamcorper, eleifend ullamcorper metus. Nulla facilisi. Donec condimentum turpis pharetra dui placerat viverra et eget nisl. Mauris sit amet tortor in risus blandit pulvinar ac quis nisi. Mauris lacinia molestie euismod. Praesent hendrerit magna vel aliquet consequat. </p>
  </div>
  <div class="span3">
    <h2>Gamme Developpement</h2>
    <h1>Passages</h1>
    <hr class="small"/>
    <div class="imagehomepage imghome3">
      <a href="/jeux/passages.html"><img src="<%= image_path('jeux_passages.jpg') %>"></img></a>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor auctor purus non mattis. Aenean nulla turpis, luctus a neque ullamcorper, eleifend ullamcorper metus. Nulla facilisi. Donec condimentum turpis pharetra dui placerat viverra et eget nisl. Mauris sit amet tortor in risus blandit pulvinar ac quis nisi. Mauris lacinia molestie euismod. Praesent hendrerit magna vel aliquet consequat. </p>
  </div>
  <div class="span3">
    <h2>News</h2>
    <h1>Gamme Itras by</h1>
    <hr class="small"/>
    <div class="imagehomepage imghome4">
      <a href="/jeux/itrasby.html"><img src="<%= image_path('jeux_itrasby.jpg') %>"></img></a>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor auctor purus non mattis. Aenean nulla turpis, luctus a neque ullamcorper, eleifend ullamcorper metus. Nulla facilisi. Donec condimentum turpis pharetra dui placerat viverra et eget nisl. Mauris sit amet tortor in risus blandit pulvinar ac quis nisi. Mauris lacinia molestie euismod. Praesent hendrerit magna vel aliquet consequat. </p>
  </div>
</div>
<div class="both"></div>
