---
title: A New Item
---

<% content_for :articleBox do %>
    <div id="newsBox" class="nightProwler_landscape">
      <p>il n'y a pas d'honneur<br />chez les voleurs...<br />Nightprowler 2</p>
    </div>
<% end %>
<div class="inline">
  <h2 class="titleInline">ACTUEL</h2>
  <p>Les impostures d'Arlam, supplément races et magie est en chantier</p>
</div>
<hr />
<div id="row">
  <h2>GAMME</h2>
  <h1>NightProwler 2</h1>
  <hr class="small" />
  <img src="<%= image_path('nightProwler.jpg') %>" class="newsimg"></img>
</div>
<div id="bigRow">
  <h2><br /></h2>
  <h1>Nightprowler 2, livre de base</h1>
  <hr class="small" />
  <div id="lightbox">
    <div id="close"><a href="#"><span>X</span></a></div>
    <div id="lightboxScroll">
      <p>Auteurs : Alexandre Amirà, François Cedelle, David Girardey, Frédéric Hubleur, Guyom Rafin, Yann Lugrin, Antoine Boegli, Jérôme Vernez, Anne Piatti, Antoine Clermond, Indrek Pärnpuu, Julien Laroche, Matthieu Martaresche, Nicolas Genoud, Oliver Vulliamy.</p>
      <p>Couverture : Boris Courdesses.</p>
      <p>Illustrateurs : Stéphane Cocheteux, Boris Courdesses, Nicolas Demare, Anne Rouvin, Bertrand Bès, Frédéric Borralho, Jaouen Salaum, Ludovic Sanson, Marion Jiranek, Michaël Tognotti, Sébastien Delfino, Stéphane Le Nédic.</p>
      <p>Description</p>
      <p>Le livre de base de la seconde édition de Nightprowler contient tout le matériel utile pour jouer dans l’univers des Sept Cités. Après une description détaillée du monde, de son histoire et de ses peuples vous découvrirez un système de création de personnage permettant aux joueurs de modeler un criminel consistant. Il devra choisir parmi 32 spécialités qui lui donneront ses compétences de base avant de décider de sa race, son origine sociale, l’événement qui l’a fait basculer dans la pègre et d’autres traits qui affineront ses capacités et lui donneront une profondeur intéressante dés la première partie. Le chapitre suivant vous expliquera tout sur le fonctionnement du système de jeu dynamique développé pour cette nouvelle version. Un système de duel permet de gérer les combats mortels qu’il faut souvent mieux éviter ainsi que la course poursuite, activité très répandue chez les voleurs.</p>
      <p>Vient enfin une description de la société et du pouvoir dans les Sept Cités expliquant le fonctionnement des classes sociales, décrivant la population, l’urbanisme et l’architecture, l’art et la culture, les maisons nobles ainsi que le fonctionnement économique, politique et judiciaire. Le coeur de la vie des personnages est ensuite décrit avec un chapitre consacré à la pègre et à ses familles mafieuses. Pour terminer la description du contexte général, un chapitre parle de la science, la magie et la religion. Vous y trouverez tout ce que vous devez savoir sur ces sujets.</p>
      <p>Le livre se termine avec une description d’un quartier de la cité de Bejofa puis deux scénarios et quelques PNJ typiques. Les Annexes vous fourniront une liste de prix, un lexique et la fiche de personnage.</p>
      <p>Faire une crasse est souvent un bon moyen de s'en sortir</p>
    </div>
  </div>
  <p>Description</p>
  <p>Le livre de base de la seconde édition de Nightprowler contient tout le matériel utile pour jouer dans l’univers des Sept Cités. Après une description détaillée du monde, de son histoire et de ses peuples vous découvrirez un système de création de personnage permettant aux joueurs de modeler un crimi- nel consistant. Il devra choisir parmi 32 spécialités qui lui donneront ses compétences de base avant de décider de sa race, son origine sociale, l’événement qui l’a fait basculer dans la pègre et d’autres traits qui affineront ses capacités et lui donneront une profondeur intéressante dés la première partie. Le chapitre suivant vous expliquera tout sur le fonctionnement du système de jeu dynamique développé pour cette nouvelle version. Un système de duel permet de gérer les combats mortels qu’il faut souvent mieux éviter ainsi que la course poursuite, activité très répandue chez les voleurs.</p>
  <a href="#" class="lightbox_link"><div class="circle"></div><div class="circle"></div><div class="circle"></div></a>
  <div class="both"></div>
</div>
<div class="both"></div>
<hr />
<img src="<%= image_path('VDO.jpg') %>" class="newsimg"></img>
<img src="<%= image_path('Ecran.jpg') %>" class="newsimg"></img>
<img src="<%= image_path('Atlas.jpg') %>" class="newsimg"></img>
<div class="both"></div>
<h2 class="tome">VDO</h2>
<h2 class="tome">ECRAN</h2>
<h2 class="tome">ATLAS</h2>
<div class="both"></div>
