<% content_for :description do %>
<p>Atlas des Sept Cités</p>
<p>Bejofa, Cité des Voleurs…</p>

<p>
Il est bien loin, le village des pêcheurs des origines, bientôt devenu un riche quartier de pierre et de brique rouge dépendant de Samarande, puis port marchand et haut lieu de l’artisanat. Aujourd’hui, la cité indépendante de Bejofa fourmille de mille activités, certaines aussi légales et populaires que d’autres sont clandestines ou criminelles.
</p>

<p>
Cet atlas contient :
<ul>
  <li>des règles additionelles pour représenter les bandes et l’apprentissage des personnages</li>
  <li>de nouvelles écoles d’escrime</li>
  <li>une histoire de la ville et une peinture de la vie quotidienne à Bejofa</li>
  <li>quartier par quartier, une description détaillée de l’ambiance et des communes qui y règnent</li>
  <li>deux scénarios bien tortueux pour explorer la ville</li>
  <li>quelques bâtiments types, avec plan et description</li>
  <li>une carte de la ville à la fois trop grande et trop belle pour vos joueurs</li>
</ul>
</p>
<% end %>
