<% content_for :description do %>
<p>Nightprowler</p>

<p>Ecran de jeu</p>
<p>
L’écran de jeu Nightprowler attire le regard des joueurs dans une scène nocturne dans les allées de Samarande et offre au maître de jeu des tables récapitulatives pour l’assister dans ses parties, comprenant : armes de contact, de tir et de lancer, armes naturelles, diablotine, les armures, les blessures, les règles de course poursuite et enfin la gestion de la réputation.
</p>

<p>
Un livret accompagne l’écran et décrit la vie et la mort d’un truand. Le scénario <i>« quartier livre !»</i> est la suite du scénario <i>« Khaler cognera trois fois »</i>. On y retrouvera un poste de garde fraîchement installé avec en guise de sergents et officiers, dans le désordre, son ripou, son alcoolique notoire, son cogneur, son bronzé et son bigot ; sans oublier quelques petites surprises. Enfin le livret comprend des règles optionnelles, errata et des précisions au livre de base. Le livret se conclut par une  feuille de personnage revisitée et plus intuitive.
</p>

<% end %>
