<% content_for :description do %>

<p>Nightprowler seconde édition</p>

<p>C’est un âge difficile : le peuple est pauvre et meurt de faim, la noblesse et la bourgeoisie se disputent les faveurs d’une église toujours plus puissante, et dans l’ombre, les grandes Familles du crime se livrent une guerre secrète et sans merci. La censure est partout, la science est proscrite, la république une hérésie oubliée, et nombreux sont ceux qui se tournent vers le crime organisé…</p>

<p>C’est cette voie que vous avez choisie. Désormais, vous êtes un hors-la-loi un rôdeur, un voleur, ou l’un de ces mendiants qui hantent les recoins sordides de la Principauté. Prêt à tout, peut-être serez vous la flamme qui ravivera les espoirs déçus des générations trahies?</p>

<p>
Vous trouverez dans ce livre :
<ul>
  <li>Un système de jeu complet et intuitif décoré de ses règles de duel et de création de personnage prohibées par l’église d’Arlam (32 professions criminelles de base… )</li>
  <li>Un cadre de jeu révisé, bourré de détails et de mensonges officiels</li>
  <li>La description de la société de la Principauté, dans toute sa « gloire »</li>
  <li>Les secrets inavouables de la pègre, de l’église et des forces de l’ordre</li>
  <li>Un scénario d’introduction pas trop difficile mais pas trop facile non plus</li>
</ul>
</p>
<% end %>
