<% content_for :description do %>
<p>Nightprowler</p>

<p>La Voix des Ombres</p>

<p>Bienvenue dans la Voix des Ombres, cahier à ne pas mettre entre toutes les mains. Celui-ci va vous apporter quelques nouvelles de notre bonne vieille cité. On a entendu dire que ces rats de malheur ont encore mis un boxon pas croyable dans l’emmental qui sert de support au quartier des Hautes Roches. Il paraît que le bétail se fait décimer chaque nuit dans nos pâturages et qu’un démon expose des cadavres humains dans sa demeure. Un jeune aristocrate a disparu, il y a probablement une bonne récompense pour celui qui le ramènera. Enfin ce n’est pas tout, mais vous le verrez en lisant la suite.</p>

<p>Vous trouverez également trois récits d’aventure que pourrait très bien vivre votre petite bande, elles nous dépeignent quelques pièges qui peuvent mener au bagne, « Graine de voyous » est une sorte de parcours d’entraînement, « Chair de loup, sauce de chien » est un piège sur mesure pour un groupe de petites frappes et enfin « En attendant l’Angélus » est une trappe qui se referme accidentellement. Faites attention ou ces mésaventures pourraient bien vous arriver !</p>

<p>
Publication : mai 2007 | 32 pages, couverture souple | ISBN 978-2-9700314-6-8 | disponible en PDF et en impression à la demande | Prix : PDF à 9,00 € (HT), livret à 14,71 € (HT)
</p>
<% end %>
