/***********************/
/******* IMPORT ********/
/***********************/
@import "compass/reset";
@import "compass/typography/text/replacement";  /*FEATURES FOR THE LOGO*/
@import "compass/typography/lists/horizontal-list"; /* FEATURES FOR THE NAVBAR */

/**********************/
/******* COLOR ********/
/**********************/

$grey: #e5e5e5;
$dark-grey: #d0d0d0;

/**********************/
/******* OTHER ********/
/**********************/

$websiteW: 960px;
$list-space: 10px;

/**********************/
/******* GLOBAL *******/
/**********************/

div#main {
  margin: 0 auto;
  width: $websiteW;
}

h1.logo {
  margin-top: 40px;
  @include replace-text-with-dimensions('logo.png', 50%, 50%, true);
}

div#topArticleBox {
  height: 10px;
  width: $websiteW;
  background-color: $grey;
}

section#articleBox {
  height: 170px;
  width: $websiteW;
  border: solid $grey 1px;

  article {

    div#nav {
      float: left;
      text-align: right;
      writing-mode: tb-rl;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
    }
  }

  div#newsBox {
    float: right;

    img {
      max-height: 170px;
    }
  }
}

nav {
  margin-top: 50px;

  ul {
    @include horizontal-list($list-space);
    float: right;

    li {

    }
  }
}

div.both {
  clear: both;
}

p.copyright {
  margin-top: 50px;
  text-align: center;
  color: $dark-grey;
  font-size: 13px;
}

/******************/
/**** GENERAL *****/
/******************/
