/***********************/
/******* IMPORT ********/
/***********************/
@import "compass/reset";
@import "compass/typography/text/replacement";  /*FEATURES FOR THE LOGO*/
@import "compass/typography/lists/horizontal-list"; /* FEATURES FOR THE NAVBAR */

/**********************/
/******* COLOR ********/
/**********************/

$grey: #e5e5e5;
$grey2: #bababa;
$dark-grey: #d0d0d0;
$red: #9a0013;

/**********************/
/******* OTHER ********/
/**********************/

$websiteW: 960px;
$list-space: 10px;

/**********************/
/******* GLOBAL *******/
/**********************/

body {
  font-family: arial;
}

div#main {
  margin: 0 auto;
  width: $websiteW;
}

.small {
  height: 1px;
  margin: 5px;
}

h2 {
  color: $red;
  font-family: helvetica;
}

h1 {
  font-size: 20px;
  font-family: helvetica;
}

.both {
  clear: both;
}

h1.logo {
  float: left;
  margin: 40px 0 0 40px;
  @include replace-text-with-dimensions('logo.png', 50%, 50%, true);
}

hr {
  margin: 20px 0;
  height: 2px;
  background-color: $grey2;
  color: $grey2;
  border: none;
}

#social {
  margin-top: 25px;
  float: right;

  img {
    width: 20px;
    height: 20px;
  }

  p {
    display: inline;
  }
}

div#topArticleBox {
  height: 10px;
  width: $websiteW;
  background-color: $grey;
}

section#articleBox {
  height: 170px;
  width: $websiteW;
  border: solid $grey 1px;
  margin-bottom: 40px;

  div#newsBox {
    float: right;
    height: 170px;
    width: 960px;
    text-align: right;
    color: white;
    font-size: 13px;

    p {
      margin: 20px 5px 10px 0;
    }
  }
}

nav {

  ul {
    @include horizontal-list($list-space);
    float: right;
    margin-top: 30px;

    li {

    }
  }
}

div.both {
  clear: both;
}

p.copyright {
  margin-top: 50px;
  text-align: center;
  color: $dark-grey;
  font-size: 13px;
}

#row {
  float: left;
  width: 220px;
  margin-left: 20px;
}

/******************/
/**** GENERAL *****/
/******************/

#lightbox {
  width: 770px;
  position: absolute;
  top: 0px;
  margin: 20px auto;
  padding: 20px 40px 65px 40px;
  margin-left: -40px;
  border: solid $red 5px;
  background-color: white;

  #lightboxScroll {
    overflow: scroll;
  }

  #close {
    float: right;
    width: 10px;

    a {
      text-decoration: none;

      span {
        width: 10px;
        color: $red;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
}

/******************/
/***** IMAGE ******/
/******************/

.passages_landscape {
  background-image: url('passages_landscape.jpg');
}

.tigresVolantsLandscape {
  background-image: url('tigresVolantsLandscape.jpg');
}

.newsimg {
  margin: 5px;
  float: left;
  display: inline;
  max-width: 208px;
  max-height: 266px;
}
