/***********************/
/******* IMPORT ********/
/***********************/
@import "compass/reset";
@import "compass/css3";
@import "compass/typography/text/replacement";  /*FEATURES FOR THE LOGO*/
@import "compass/typography/lists/horizontal-list"; /* FEATURES FOR THE NAVBAR */
@import "compass/css3/box-shadow";

@import "jquery-ui";
@import "bootstrap";

/**********************/
/******* COLOR ********/
/**********************/

$grey: #e5e5e5;
$grey2: #bababa;
$dark-grey: #a0a0a0;
$red: #9a0013;
$gold: #A96C00;

/**********************/
/******* OTHER ********/
/**********************/

$websiteW: 960px;
$list-space: 15px;

/**********************/
/******* GLOBAL *******/
/**********************/

body {
  font-family: helvetica, arial;
}

p {
  font-size: 12px;
}

section#main {
  margin: 0 auto;
  width: $websiteW;
}

.small {
  height: 1px;
  margin: 5px;
}

h2 {
  font-size: 20px;
  color: $red;
  font-family: helvetica;
}

a:visited, a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #A96C00;
}

a.redlink {
  color: $red;
  display: block;
  font-size: 14px;
}

h1 {
  font-size: 16px;
  font-family: helvetica;
}

.both {
  clear: both;
}

h1.logo {
  float: left;
  margin: 40px 0 0 40px;
  @include replace-text-with-dimensions('logo.png', 50%, 50%, true);
}

hr {
  margin: 20px 0;
  height: 2px;
  background-color: $grey2;
  color: $grey2;
  border: none;
}

.imagehomepage {
  margin-bottom: 13px;

  img {
    @include box-shadow(black 2px 2px 10px);
    margin: 5px;
    display: inline;
    height: 134px;
  }
}

.imghome1 {
  margin-left: 26px;
}

.imghome2 {
  margin-left: 50px;
}

.imghome3 {
  margin-left: 25px;
}

.imghome3 {
  margin-left: 10px;
}

.imghome4 {
  margin-left: 46px;
}

#social {
  margin-top: 25px;
  float: right;

  img {
    width: 12px;
    height: 12px;
  }

  p {
    display: inline;
  }
}

div#topArticleBox {
  height: 10px;
  width: $websiteW;
  background-color: $grey;
}

section#articleBox {
  height: 170px;
  width: 959px;
  border: solid $grey 1px;
  margin-bottom: 5px;

  div#newsBox {
    float: right;
    height: 170px;
    width: 960px;
    text-align: right;
    color: white;
    font-size: 13px;

    p {
      margin: 20px 5px 10px 0;
      text-shadow: 4px 4px 4px black;
      webkit-text-shadow: 4px 4px 4px black;
      text-shadow: 1px solid black;
      text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    }
  }
}

ul.navbar {
  @include horizontal-list($list-space);
  float: right;
  margin-top: 30px;
  overflow: visible;
}

div.both {
  clear: both;
}

p.copyright {
  margin-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  color: $dark-grey;
  font-size: 14px;
}

h3 {
  color: $red;
  font-size: 12px;
  text-align: center;
}

h5 {
  color: $red;
  font-size: 25px;
  padding-top: 20px;
}

h4 {
  font-size: 25px;
}

/******************/
/*    NAV BOOKS   */
/******************/

#nav_books {
  height: 350px;
  width: 350px;
  position: relative;
  margin: 0px 0px;

  .books {
    top: 40px;
    left: 40px;
    position: absolute;
    border: 4px solid white;

    &.active {
      z-index: 2000;
      top: 15px;
      max-height: 280px;
    }
  }

  @for $i from 0 through 10 {
    .item_#{$i} {
      left: 20px + $i * 20px;
      z-index: 1000 - $i;

      &.active {
        left: -25px + $i * 20px;
      }
    }
  }
}

/******************/
/*    OVERLAY     */
/******************/

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;

  * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.background {
      background: $grey;
      @include opacity(0.2);
    }

    &.loader {
      background: inline-image('loader.gif') center no-repeat;
    }
  }

}

body > .overlay {
  position: fixed;
}

/******************/
/*    LIGHTBOX    */
/******************/

#item_lightbox {
  cursor: pointer;
}

#details {
  position: relative;
  display: none;
  width: 960px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px $dark-grey solid;
  background-color: white;
  z-index: 3000;

  .close {
    font-size: 2em;
    color: $dark-grey;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    z-index: 3010;
  }

  article {
    $width: 900px;
    $padding: (960px - $width) / 2;
    width: $width;
    padding: $padding;
    display: none;
    position: relative;
    z-index: 3005;
    @include pie-clearfix;
  }
}

/******************/
/* PRODUCT SLIDER */
/******************/

#products_slider {
  height: 240px;
  position: relative;

  .arrows {
    position: absolute;
    top: 70px;
    cursor: pointer;

    img {
      width: 40px;
    }
  }

  .previous {
    left: 0px;
  }

  .next {
    right: 0px;
  }

  .box {
    height: 235px;
    width: 800px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;

    .display {
      width: 800px;
      height: 235px;
      float: left;

      .span2 {
        margin-right: 40px;
      }
    }
  }
}

/******************/
/**** GENERAL *****/
/******************/

.navbar {
  position: relative;

  .NavBarLi {
    float: left;
    margin-top: -11px;
    border: 1px solid white;
    z-index: 1000;
    padding-top: 9px;
    padding-left: 27px;
    padding-right: 28px;

    &.active {
      border: 1px solid black;
    }
  }

  #blank {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 2000;
    left: 68px;
    top: 15px;
    height: 5px;
    width: 89px;
  }

  .NavBarLi2 {
    margin: 0;
    display: none;
    width: 125px;
    border-top: none;
    background-color: white;
    position: absolute;
    left: 67px;
    z-index: 500;
    border: 1px solid black;
    padding-top: 10px;

    li:first-child {
      padding-left: 15px;
    }

    li {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  .NavBarLink {

    li {
      width: 125px;
    }
  }
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  float: left;
  margin: 3px;
}


.goodiesImg {
  margin: 5px;
  display: inline;
  max-width: 145px;
  max-height: 266px;
  margin-left: 33.33%;
}

.book {
  width: 100px;
  margin: 0px 0px;
}

.goodiesHr {
  margin-top: 0;
}

/******************/
/***** FORM *******/
/******************/

form {
  background-color: $grey;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: 20px;

  input, textarea {
    border: 1px solid black;
  }

  .input {
    padding-top: 20px;
  }

  .checkbox {
    margin-top: 10px;
    float: left;
  }

  input.checkbox {
    margin-right: 30px;
    margin-left: 10px;
  }

  input[type=submit] {
    color: white;
    background-color: $red;
    border: 1px solid white;
    padding: 8px;
    font-size: 16px;
    margin-top: 10px;
  }

  p {
    margin-top: 25px;
  }

  .littlemargin {
    margin-top: 5px;
  }

  textarea {
    height: 117px;
    width: 416px;
  }
}

/******************/
/***** IMAGE ******/
/******************/

.landscape_passages {
  background-image: asset-url("landscape_passages.jpg");
}

.landscape_nobilis {
  background-image: asset-url("landscape_nobilis.jpg");
}

.landscape_cdsc {
  background-image: asset-url("landscape_cdsc.jpg");
}

.landscape_cooperative {
  background-image: asset-url("landscape_cooperative.jpg");
}

.landscape_tv3 {
  background-image: asset-url("landscape_tv3.jpg");
}

.landscape_np2 {
  background-image: asset-url("landscape_np2.jpg");
}

.landscape_notdead {
  background-image: asset-url("landscape_notdead.jpg");
}

.landscape_itrasby {
  background-image: asset-url("landscape_itrasby.jpg");
}

.landscape_contact {
  background-image: asset-url("landscape_contact.jpg");
}

.newsimg {
  @include box-shadow(black 2px 2px 10px);
}

.news, .newsimg {
  margin: 5px;
  display: inline;
  max-height: 210px;
}

.news {
  float: left;
}
