<% content_for :description do %>
<p>2d Sans Faces sortira, en fin d’année 2018, l’adaptation du jeu de rôle Yuukake Koyake, sous le titre Les Contes du Soleil Couchant, un jeu très mignon venu tout droit du Japon.</p>
<p>Découvrez la campagne japonaise dans la peau d’un de ces animaux qui peut prendre forme humaine et dotés de petits pouvoirs pour aidez la communauté. Un jeu 100% kawai, plein de tendresse et adapté avec bienveillance : l’édition française sera augmentée de quelques illustrations, conseils de jeu et ébauches de scénarios pour vous accompagner dans cet univers enchanteur et dépaysant.</p>
<% end %>
