<% content_for :description do %>
<p>
  Conçues pour accompagner le jeu de rôle surréaliste Itras By, ces cartes peuvent aussi être utilisées pour d’autres jeux, ou comme support à une complète improvisation.
</p>
<p>
Le jeu de carte contient :
  <ul>
    <li>8 Cartes de résolution pour donner une réponse aux actions des personnages. On y retrouve les &quot;Oui mais...&quot;, &quot;Oui, et...&quot;, Non, et...&quot;, &quot;Non, mais...&quot;, etc. chers au théâtre d&#39;improvisation.</li>
    <li>48 Cartes d’imprévus pour changer le cours de l’histoire ou secouer vigoureusement le décor. Ces cartes-ci viennent appuyer le côté surréaliste des situations.</li>
  </ul>
</p>
<p>Publication : juillet 2018 | IBAN 978-2-940429-04-2 | disponible dans les boutiques de jeux | Prix : 13 €
</p>
<% end %>
