<% content_for :articleBox do %>
    <div id="newsBox" class="IB">
      <p></p>
    </div>
<% end %>

<% content_for :actuel do %>
  <h2 class="titleInline">ACTUEL</h2>
  <p>traduction en cours</p>
<% end %>

<% content_for :gamme do %>
  <h2>GAMME</h2>
  <h1>Itras By</h1>
  <hr class="small" />
  <img src="<%= image_path('ItrasBy.jpg') %>" class="newsimg"></img>
<% end %>

<% content_for :description do %>
  <h1>Itras By</h1>
  <hr class="small" />
  <p>Description</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis est a magna volutpat, non luctus turpis pulvinar. Aliquam sed erat nec purus molestie porttitor. Donec dignissim, urna eget mollis vehicula, nunc urna pellentesque risus, eget aliquam mi erat sit amet dui. Phasellus vehicula tincidunt gravida. Vestibulum massa orci, accumsan et faucibus eget, bibendum in erat. Nulla ullamcorper placerat turpis ac dictum. Sed tempus porta neque, ac hendrerit libero feugiat quis.</p>
  <a href="#" class="lightbox_link"><div class="circle"></div><div class="circle"></div><div class="circle"></div></a>
  <div class="both"></div>
<% end %>

<% content_for :book do %>
  <dic class="span12">
    <img src="<%= image_path('ItrasBy.jpg') %>" class="newsimg"></img>
  </div>
<% end %>