<% content_for :description do %>
  <p>
    Sous une flamboyante couverture signée David Cochard - un vétéran du monde du jeu - le livre de base de Itras By contient :
    <ul>
      <li>Le monde et la ville de Itras By et des terres qui l'entourent, quartier par quartier</li>
      <li>Des r&egrave;gles de jeu &eacute;l&eacute;mentaires et ludiques</li>
      <li>Un ensemble de conseils de jeu destin&eacute;s aussi bien aux d&eacute;butants qu'aux v&eacute;t&eacute;rans</li>
      <li>Deux sc&eacute;narios d'introduction (&quot;N&deg;13&quot; et &quot;Edgar&quot;)</li>
      <li>Des cartes &agrave; jouer &agrave; reproduire</li>
      <li>Le texte original de Ole Peder Giaever et Martin Bull Gudmundsen, augment&eacute; de cr&eacute;ations de Pierre Gavard-Coleny, Oliver Vulliamy, Antoine Boegli</li>
      <li>Le tout admirablement enlumin&eacute; par les crayons de Thore Hansen, Kathy Schad, David Cochard, St&eacute;phane le N&eacute;dic et Oliver Vulliamy.</li>
    </ul>
  </p>

  <p>Publication : février 2018 | 240 pages en bichromie, couverture rigide | ISBN 978-2-940429-03-5 | disponible dans les boutiques de jeux | Prix : 42 €</p>
<% end %>
