<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>" media="screen">
    <script src="<%= javascript_path 'application' %>"></script>
  </head>
  <body>
    <div id ="main">
      <header>
        <h1 class="logo">2d sans faces société coopérative d'édition</h1>
        <div id="social">
          <p>Contact</p>
          <a href="https://www.facebook.com/2dSansFaces"><img src="/assets/facebook_button.png" class="social"></img></a>
          <a href="https://plus.google.com/110673719649168401226/about"><img src="/assets/g+.png" class="social"></img></a>
          <p>RSS</p>
          <a href="https://www.facebook.com/2dSansFaces"><img src="/assets/rss.jpg" class="social"></img></a>
        </div>
        <nav>
          <ul>
            <li><a href="/">ACCUEIL</a></li>
            <a class="NavBarLink" href="#"><li>JEUX</li></a>
            <ul class="NavBarLi">
              <a class="NavBarLink2" href="#"><li>JEUX</li></a>
              <li><%= link_to 'Night Prowler', '/jeux/nightprowler' %></li>
              <li><%= link_to 'Tigres Volants', '/jeux/tigresvolants' %></li>
              <li><%= link_to 'Itras by', '/jeux/itrasby.html' %></li>
            </ul>
            <li><a href="http://www.lulu.com/spotlight/2dsf">BOUTIQUE</a></li>
            <li><a href="http://forums.2dsansfaces.com/">FORUM</a></li>
            <li>COOPERATIVE</li>
            <li><%= link_to 'GOODIES', '/../goodies.html' %></li>
            <li>CONTACT</li>
          </ul>
        </nav>
        <div class="both"></div>
        <div id="topArticleBox"></div>
        <section id="articleBox">
          <article>
            <%= content_for(item, :header) %>
            <div id="newsBox" class="<%= item[:header_class] %>">
              <p><%= item[:header_legend] %></p>
            </div>
          </article>
        </section>
      </header>
      <div id="content">
        <%= yield %>
      </div>
      <footer>
        <p class="copyright">©2006-2013 2d Sans Faces, société coopérative - développé par Liquid Concept</p>
      </footer>
    </div>
  </body>
</html>
