<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>" media="screen">
    <script src="<%= javascript_path 'application' %>"></script>
  </head>
  <body>
    <section id="main">
      <header>
        <a href="/"><h1 class="logo">2d Sans Faces société coopérative d'édition</h1></a>
        <div id="social">
          <p>Contact</p>
          <a href="https://www.facebook.com/2dSansFaces" target="_blank"><img src="<%= image_path('facebook_button.png') %>" class="social"></img></a>
          <a href="https://plus.google.com/110673719649168401226/about" target="_blank"><img src="<%= image_path('g+.png') %>" class="social"></img></a>
          <p>RSS</p>
          <a href="https://www.facebook.com/2dSansFaces" target="_blank"><img src="/assets/rss.jpg" class="social"></img></a>
        </div>
        <nav>
          <ul class="navbar">
            <li><a href="/">Accueil</a></li>
            <li class="NavBarLi">
              <a class="NavBarLink" href="#">Jeux</a>
              <div id="blank"></div>
              <ul class="NavBarLi2">
                <li><%= link_to 'Nightprowler', '/jeux/nightprowler/' %></li>
                <li><%= link_to 'Tigres Volants', '/jeux/tigresvolants/' %></li>
                <li><%= link_to 'Itras By', '/jeux/itrasby.html' %></li>
                <li><%= link_to 'Nobilis', '/jeux/nobilis/' %></li>
                <li><%= link_to 'Les Contes du Soleil Couchant', '/jeux/soleilcouchant.html' %></li>
              </ul>
            </li>
            <li><a href="http://www.lulu.com/spotlight/2dsf">Boutique</a></li>
            <li><%= link_to 'Cooperative', '/../cooperative.html' %></li>
            <li><%= link_to 'Goodies', '/../goodies.html' %></li>
            <li><%= link_to 'Contact', '/../contact.html' %></li>
          </ul>
        </nav>
        <div class="both"></div>
        <div id="topArticleBox"></div>
        <section id="articleBox">
          <article>
            <%= content_for(item, :header) %>
            <div id="newsBox" class="<%= product_attr(item, :header_class) %>">
              <p><%= product_attr(item, :header_legend) %></p>
            </div>
          </article>
        </section>
      </header>
      <section id="content">
        <%= yield %>
      </section>
      <footer>
        <p class="copyright">©2006-2018 2d Sans Faces, société coopérative - développé par Liquid Concept</p>
      </footer>
    </section>
    <section id="details">
    <div class="close">x</div>
      <article>Content Lightbox</article>
    </section>
  </body>
</html>
