<% render 'default' do %>
  <div id="content">
    <div class="inline">
      <h2 class="titleInline">ACTUEL</h2>
      <%= content_for(product_line_of_product(item), :news) %>
      <p><%= item[:news] %></p>
    </div>
    <hr />
    <div class="row">
      <div class="span5">
        <h2>GAMME</h2>
        <h1><%= item[:name] %></h1>
        <hr class="small" />
        <div id="nav_books">
          <% product_siblings(item).each_with_index do |item, index| %>
            <img src="<%= product_image_path item %>" class="newsimg books" id="item_<%= index %>"></img>
          <% end %>
        </div>
      </div>
      <h2><br /></h2>
      <div class="span7">
        <h1><%= item[:book] %></h1><hr class="small" />
        <%= content_for(item, :description) %>
        <a href="#" class="lightbox_link"><div class="circle"></div><div class="circle"></div><div class="circle"></div></a>
      </div>
    </div>
    <div class="both"></div>
    <hr />
    <div class="row">
      <div class="span12">
        <% product_siblings(item).each do |item| %>
          <span class="span2">
            <img src="<%= product_image_path item %>" class="newsimg"></img>
            <p><%= item[:name]%></p>
          </span>
        <% end %>
      </div>
      <div class="both"></div>
    </div>
  </div>
<% end %>