<% render 'default' do %>
  <div id="content">
    <div class="inline">
      <%= content_for(product_line_of_product(item), :news) %>
      <img src="<%= image_path('+_sign.png') %>" class="news"></img>
      <h5>NEWS</h5>
      <div class="both"></div>
      <p><%= item[:news] %></p>
    </div>
    <hr />
    <div class="row">
      <div class="span5">
        <h2>GAMME</h2>
        <h1><%= item[:name] %></h1>
        <hr class="small" />
        <div id="nav_books">
          <% product_siblings(item).each_with_index do |item, index| %>
            <img src="<%= product_image_path item %>" class="newsimg books" id="item_<%= index %>"></img>
          <% end %>
        </div>
      </div>
      <h2><br /></h2>
      <div class="span7" id="item_lightbox">
        <h1><%= item[:book] %></h1><hr class="small" />
        <%= content_for(item, :description) %>
        <a href="#" class="lightbox_link"><div class="circle"></div><div class="circle"></div><div class="circle"></div></a>
      </div>
    </div>
    <div class="both"></div>
    <hr />
    <div class="row" id="products_slider">
      <div class="arrows previous"><img src="<%= image_path('arrow_left.png') %>"></div>
      <div class="arrows next"><img src="<%= image_path('arrow_right.png') %>"></div>
      <div class="box">
        <div class="overflow">
          <% product_siblings(item).each_with_index do |item, index| %>
            <% if index % 4 == 0 %>
              <div class="display">
            <% end %>
            <div class="span2">
              <img src="<%= product_image_path item %>" class="newsimg <%= index %>"></img>
              <p><%= item[:name]%></p>
            </div>
            <% if index % 4 == 3 %>
              </div>
             <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>