<% content_for :description do %>
<p><strong>Sea, Sex, Sun…</strong> et tout le reste</p>

<p>Êtes-vous plutôt étudiant arcaniste artiste de rue ? Enfant d’expatrié embrigadé dans une bande de <em>juvenes</em> pour le compte d’un dojo ? Trafiquant dereg au service de la Rose de Mars ? Courtier en informations pour le compte d’associations oecuméniques liés aux services secrets du Vatican ?</p>

<p>Tout cela à la fois ?</p>

<p>Copacabana est une ville-frontière, dans tous les sens du terme, et ses habitants se sont adaptés à cette situation. <em>Copacabana Transit</em> – premier numéro de la <em>Bibliothèque tachyonique</em> – vous propose une plongée dans quatre aspects majeurs de la Ville libre et dans les milieux sociaux qui orbitent autour.</p>

<p>En guise de travaux pratiques, deux scénarios vous permettront de vous familiariser, l’un avec les groupes sectaires et les milieux diplomatiques, l’autre avec les trafiquants et la
faune des rues.</p>

<p>Vous avez de la chance : les bermudas s’accommodent très bien d’une arme de poing, cette année…</p>
<% end %>
