<% content_for :description do %>
<p><strong>La Dame de fer aura ta peau !</strong></p>

<p>Pirates, mercenaires, terroristes, utopistes, combattants de la liberté, contrebandiers ou fous dangereux, la Dame de fer est tout cela, parfois plus, et le plus souvent en même temps.</p>

<p>Née de l’esprit enfiévré d’étudiants terriens désoeuvrés, l’organisation est le cauchemar de la plupart des personnes qui opèrent, ou comptent opérer, en Fédération des États de la Frontière. Y compris les autorités de la FEF voire, dans les mauvais jours, la Dame de fer elle-même.</p>

<p>Pour tenter d’en saisir les rouages, ces quelques pages vous plongeront au coeur d’un concentré de chaos, à la rencontre des hommes, des machines, des mythes et des plans débiles qui ont fait de l’Honorable Compagnie un acteur difficilement contournable (éventuellement esquivable) de la Frontière.</p>

<p>Pour couronner le tout, deux scénarios vous mettront, l’un dans la peau d’aspirants pirates, l’autre face à un groupe particulièrement peu subtil (et sa pelleteuse de l’espace).</p>

<p>Accrochez-vous à vos champs de Tzegorine, la Dame de fer est dans la place, avec armes (surtout) et bagages (volés) !</p>

<p>Publication : avril 2008 | 32 pages, couverture souple | ISBN 978-2-9700314-8-2 | disponible en PDF et en impression à la demande | Prix : PDF à 9,00 € (HT), livret à 14,71 € (HT)</p>
<% end %>
