<% content_for :description do %>
<p><strong>Le Loup marque son Territoire</strong></p>

<p>L’Ergartis est une légende. Mais plutôt du genre à éviter.</p>

<p>Quoique ! Ce vaisseau accueille tout ce que la Sphère compte de mercenaires dévoués, de marchands désœuvrés, de joueurs rusés, de politiciens bafoués. Mais l’Ergartis, c’est aussi un vaisseau luxueux, une base d’opération efficace, et l’un des courriers les plus rapides de la Sphère.</p>

<p>Issu des chantiers spatiaux de l’<em>Arlauriëntur</em>, l’Ergartis est passé du statut de fer de lance de la flotte eyldarin à bon pour la casse. Mais c’était sans compter sur l’obstination du clan Garwandil qui l’a aménagé au cours des siècles. Aujourd’hui, l’Ergartis est probablement le dernier espoir de ceux qu’on n’entend pas crier dans l’espace.</p>

<p>Dans ce supplément, vous découvrirez son histoire tourmentée (très), son équipage bariolé (trop), ses clients exubérants (surtout) et mille opportunités pour qui sait les saisir. Un scénario et une courte campagne offrent la possibilité de gagner son ticket d’entrée et de changer l’équilibre du pouvoir au sein de ce vaisseau mythique. Ou pas.</p>

<p>Avez-vous ce qu’il faut pour monter à bord ?</p>

<p>Publication : avril 2009 | 32 pages, couverture souple | ISBN 978-2-940429-00-4 | disponible en PDF et en impression à la demande | Prix : PDF à 9,00 € (HT), livret à 14,71 € (HT)</p>
<% end %>
