<% content_for :description do %>
<p><strong>Trois suppléments pour le prix de deux</strong></p>

<p>La Bibliothèque tachyonique est une node globale, à savoir un site de référence accessible sur presque tous les réplas de la Sphère. De la yourte de Mongolie extérieure aux ports-francs de l’espace karlan, tout le monde peut y accéder et ses mises à jour sont répercutées à travers tous les réseaux tachyoniques – d’où son nom.</p>

<p>Bon, ça, c’est pour la petite histoire.</p>

<p>Dans le cas présent, <em>La Bibliothèque tachyonique</em> est le nom d’une série de suppléments courts pour Tigres Volants. L’idée est de faire un format magazine de 32 pages sur des sujets divers et variés, avec un ou plusieurs scénarios. Le présent volume contient les trois premiers volumes de cette collection: <em>Copacabana Transit</em>, <em>Maudits par la Dame de Fer</em> et <em>L’Ergartis, la course du loup</em>.</p>

<p>Publication : décembre 2012 | 104 pages, couverture souple | ISBN 978-2-940429-01-1 | disponible en impression à la demande | Prix :25,00 € (HT)</p>
<% end %>
