<% content_for :description do %>
<p><strong>La campagne lupanar !</strong></p>

<p><em>Le Secret du Domaine des trois sources</em> est une campagne pour 3-6 personnages.</p>

<p>L’amorce est classique : des personnages d’origines disparates héritent d’une propriété lointaine et mystérieuse, léguée par une connaissance ou un parent éloigné, et qui recèle un lourd secret.</p>

<p>Comme il s’agit d’une campagne pour Tigres Volants, il ne s’agit pas d’un manoir reculé dans les Adirondacks (avec un Profond dans le puits ou un Shoggoth dans le placard), mais de parts dans un domaine eyldarin, sis sur un habitat stellaire à plus de 80 années-lumière de la Terre.</p>

<p>Et si le Domaine des trois sources semble être une auberge traditionnelle, c’est surtout une sorte de lupanar à la sauce atlano-eyldarin habité par des pensionnaires caractériels qui font commerce de leurs charmes.</p>

<p>En bref, c’est le bordel. Au sens premier du terme.</p>

<p>Publication : décembre 2012 | 128 pages, couverture souple | ISBN 978-2-940429-02-8 | disponible dans les boutiques de jeux | Prix : 30 €</p>
<% end %>
