
<% content_for :description do %>
<p><strong>Entre deux eaux</strong> est le premier supplément pour Tigres Volants. C’est surtout l’écran de jeu avec un peu de viande autour. Mais cette viande devrait vous fournir matière à multiples scénarios et, dans l’absolu, vous mettre sur la piste d’autres aventures.</p>

Ce livret contient aussi un errata du livre de base qui, heureusement, n’est pas aussi long que je l’aurais craint. Cela dit, le seul fait qu’il existe est déjà mauvais signe.

<p><strong>L’écran</strong>, ben c’est un écran de déhemme, on ne va pas gloser des heures dessus.</p>

<p>La partie du déhemme contient une foule de tables diverses et, théoriquement, utiles. </p>

<p>La partie des joueurs contient un zouli dessin signé Defcombeta pour qu’ils aient quelque chose à regarder pendant que le déhemme se demande comment récupérer le scénario qu’ils viennent de flinguer. Attention, ce dessin contient une petite culotte et un papillon. </p>

<p><strong>Le Livret</strong>, ben c’est une sorte de méta-scénario : un scénario de scénario, en quelque sorte. Dit comme ça, ça fait très concept… </p>
<% end %>
