<% content_for :articleBox do %>
    <div id="newsBox" class="nightProwler_landscape">
      <p>il n'y a pas d'honneur<br />chez les voleurs...<br />Nightprowler 2</p>
    </div>
<% end %>

<% content_for :actuel do %>
  <h2 class="titleInline">ACTUEL</h2>
  <p>Les impostures d'Arlam, supplément races et magie est en chantier</p>
<% end %>

<% content_for :gamme do %>
  <h2>GAMME</h2>
  <h1>NightProwler 2</h1>
  <hr class="small" />
  <div id="nav_books">
    <img src="<%= image_path('Atlas.jpg') %>" class="newsimg books" id="item4"></img>
    <img src="<%= image_path('VDO.jpg') %>" class="newsimg books" id="item3"></img>
    <img src="<%= image_path('Ecran.jpg') %>" class="newsimg books" id="item2"></img>
    <img src="<%= image_path('nightProwler.jpg') %>" class="newsimg books" id="item1"></img>
  </div>
<% end %>

<% content_for :description do %>
  <h1>Nightprowler 2, livre de base</h1>
  <hr class="small" />
  <p>Description</p>
  <p>Le livre de base de la seconde édition de Nightprowler contient tout le matériel utile pour jouer dans l’univers des Sept Cités. Après une description détaillée du monde, de son histoire et de ses peuples vous découvrirez un système de création de personnage permettant aux joueurs de modeler un crimi- nel consistant. Il devra choisir parmi 32 spécialités qui lui donneront ses compétences de base avant de décider de sa race, son origine sociale, l’événement qui l’a fait basculer dans la pègre et d’autres traits qui affineront ses capacités et lui donneront une profondeur intéressante dés la première partie. Le chapitre suivant vous expliquera tout sur le fonctionnement du système de jeu dynamique développé pour cette nouvelle version. Un système de duel permet de gérer les combats mortels qu’il faut souvent mieux éviter ainsi que la course poursuite, activité très répandue chez les voleurs.</p>
  <a href="#" class="lightbox_link"><div class="circle"></div><div class="circle"></div><div class="circle"></div></a>
<% end %>

<% content_for :book do %>
  <img src="<%= image_path('VDO.jpg') %>" class="newsimg"></img>
  <img src="<%= image_path('Ecran.jpg') %>" class="newsimg"></img>
  <img src="<%= image_path('Atlas.jpg') %>" class="newsimg"></img>
  <div class="both"></div>
  <h2 class="book">VDO</h2>
  <h2 class="book">ECRAN</h2>
  <h2 class="book">ATLAS</h2>
  <div class="both"></div>
<% end %>