<% content_for :description do %>
<p><strong>Tigres Volants est un jeu de rôle de science-fiction</strong> qui explore les conséquences de la rencontre de deux cultures : une civilisation qui a dominé la galaxie pendant près de dix mille ans, rythmée par l’espérance de vie millénaire de ses habitants, et les Terriens, qui, après quatre guerres mondiales, déboulent avec plein d’idées saugrenues : démocratie, moteur à explosion, vélo, capitalisme, football…</p>

<p>S’il s’agissait de peuples complètement différents, l’affaire se serait sans doute réglée à coups de guerre et autres explications administratives. Mais les choses sont plus compliquées : les deux civilisations sont originaires de la Terre et forment deux branches de la même évolution.</p>

<p><strong>Et les méchants ?</strong> Y’en a pas.</p>

<p><strong>Y’a une méta-histoire, au moins ?</strong> Non.</p>

<p><strong>Que peut-on donc faire, du coup ?</strong> Tout.</p>

<p>Jeunes des rues à Los Angeles ? No problemo. Pirate de l’espace dans la Frontière ? Bienvenue à bord ! Détective privé à Fantir, dans les arcanes du Cepmes ? Y’en a. Étudiant à l’université multiculturelle d’Ardanya, entre Eyldar traditionalistes et terriens immigrés ? Y’en a aussi. Mercenaire ? Chef, oui chef ! Agent d’assurance ? Signez ici. Journaliste ? C’est tout bon, ça, coco…</p>

<p><strong>Et comment on fait ?</strong> Tout est dans le livre.<p>

<p><strong>Décollage immédiat !</strong></p>

<p>Publication : avril 2006 | 320 pages, couverture rigide | ISBN 2-9700314-3-4 | disponible dans les boutiques de jeux | Prix : 42 €</p>
<% end %>
