---
title: A New Item
---

<% content_for :articleBox do %>
    <div id="newsBox" class="IB">
      <p></p>
    </div>
<% end %>

<% content_for :actuel do %>
  <h2 class="titleInline">ACTUEL</h2>
  <p>traduction en cours</p>
<% end %>

<% content_for :gamme do %>
  <h2>GAMME</h2>
  <h1>Itras By</h1>
  <hr class="small" />
  <img src="<%= image_path('ItrasBy.jpg.jpg') %>" class="newsimg"></img>
<% end %>

<% content_for :description do %>
  <h1>Itras By</h1>
  <hr class="small" />
  <div id="lightbox">
    <div id="close"><a href="#"><span>X</span></a></div>
    <div id="lightboxScroll">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis est a magna volutpat, non luctus turpis pulvinar. Aliquam sed erat nec purus molestie porttitor. Donec dignissim, urna eget mollis vehicula, nunc urna pellentesque risus, eget aliquam mi erat sit amet dui. Phasellus vehicula tincidunt gravida. Vestibulum massa orci, accumsan et faucibus eget, bibendum in erat. Nulla ullamcorper placerat turpis ac dictum. Sed tempus porta neque, ac hendrerit libero feugiat quis.
      Aenean sagittis magna ligula, a tempor sapien malesuada eu. Quisque molestie mauris sed ipsum vehicula, eu gravida lorem egestas. Nam at tellus eleifend, volutpat lorem eget, rutrum dolor. Fusce a ullamcorper massa. Praesent congue porttitor elementum. Pellentesque sed magna eget dui ullamcorper rutrum eget sit amet enim. In hac habitasse platea dictumst. Sed justo erat, viverra nec porta in, gravida quis quam. Quisque tristique enim id fringilla porta. Aliquam sagittis a neque porttitor blandit. Vivamus interdum diam vel lorem vestibulum auctor. Fusce bibendum pretium mi vel ornare. Aenean viverra auctor velit, quis hendrerit neque malesuada in. Cras consectetur euismod aliquet. Cras ornare rhoncus risus. Mauris mollis scelerisque sem, vitae eleifend massa ornare eu.
      Donec tempor ante sit amet metus bibendum, nec dictum erat dictum. Aliquam vehicula rhoncus purus. Nullam adipiscing posuere placerat. Duis ac ligula augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut bibendum leo ac metus imperdiet pellentesque. Vestibulum commodo augue id nisi tristique euismod non sed tortor.
      Ut rhoncus ipsum sed justo mollis, vel dapibus leo varius. Proin sit amet eros fringilla dui scelerisque lacinia. Fusce mattis viverra ligula, sit amet rhoncus odio sodales ac. Donec et imperdiet dui, sit amet tempor massa. Ut posuere euismod dictum. Aliquam hendrerit elit ac orci convallis, sit amet bibendum risus tincidunt. Vivamus vel ligula nec urna viverra consectetur non id velit.</p>
    </div>
  </div>
  <p>Description</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis est a magna volutpat, non luctus turpis pulvinar. Aliquam sed erat nec purus molestie porttitor. Donec dignissim, urna eget mollis vehicula, nunc urna pellentesque risus, eget aliquam mi erat sit amet dui. Phasellus vehicula tincidunt gravida. Vestibulum massa orci, accumsan et faucibus eget, bibendum in erat. Nulla ullamcorper placerat turpis ac dictum. Sed tempus porta neque, ac hendrerit libero feugiat quis.</p>
  <a href="#" class="lightbox_link"><div class="circle"></div><div class="circle"></div><div class="circle"></div></a>
  <div class="both"></div>
<% end %>

<% content_for :book do %>
  <img src="<%= image_path('ItrasBy.jpg') %>" class="newsimg"></img>
<% end %>