---
title: A New Item
---

<% content_for :articleBox do %>
  <div id="newsBox" class="tigresVolantsLandscape">
    <p>La sphère vous attend <br/>ou pas ...<br/>TIGRES VOLANTS</p>
  </div>
<% end %>

<% content_for :actuel do %>
  <h2 class="titleInline">ACTUEL</h2>
  <p>Le domaine des trois sources, aussi connu comme la campagne Lupanar est sorti!</p>
<% end %>

<% content_for :gamme do %>
  <h2>GAMME</h2>
  <h1>Tigres Volants</h1>
  <hr class="small" />
  <div id="nav_books">
    <img src="<%= image_path('campagneLupanar.jpg') %>" class="newsimg books" id="item5"></img>
    <img src="<%= image_path('Ergartis.jpg') %>" class="newsimg books" id="item4"></img>
    <img src="<%= image_path('Dame_de_Fer.jpg') %>" class="newsimg books" id="item3"></img>
    <img src="<%= image_path('Copatransit.jpg') %>" class="newsimg books" id="item2"></img>
    <img src="<%= image_path('tigresVolants.jpg') %>" class="newsimg books" id="item1"></img>
  </div>
<% end %>

<% content_for :description do %>
  <h1>Tigres Volants 3, Livre de base</h1>
  <hr class="small" />
    <p>Auteur : Stéphane 'Alias' Galley Couverture : Fufu Frauenwhal, Xaël, Jess</p>
    <p>Illustrateurs : DeDorgoth, Defcombeta, Eliott, Fufu Frauenwhal, Lohran... Description</p>
    <p>Tigres Volants est un jeu de rôle de science-fiction qui explore les conséquences de la rencontre de deux cultures : une civilisation qui a dominé la galaxie pendant près de dix mille ans, rythmés par l’espérance de vie millénaire de ses habitants, et les Terriens, qui, après quatre guerres mondiales, déboulent avec plein d’idées saugrenues : démocratie, moteur à explosion, vélo, capitalisme, football...</p>
    <p>S’il s’agissait de peuples complètement différents, l’affaire se serait sans doute réglée à coups de guerre et autres explications administratives. Mais les choses sont plus compliquées : les deux civilisations sont originaires de la Terre et forment deux branches de la même évolution.</p>
    <p>La Sphère est le terme utilisé pour désigner l’espace connu, qui fait environ 250 années-lumière de rayon. Un vaisseau rapide traverserait la Sphère en un peu plus de six mois. La Sphère est centrée sur Fantir, planète-capitale du Cepmes ; le Cepmes est une sorte d’ONU galactique, en plus gros, plus compliqué et (un peu) plus efficace.</p>
    <p>Les racines de la civilisation atlano-eyldarin plongent loin dans le passé de la Terre, qu’elle a quittée avant la dernière glaciation. Leur culture actuelle descend de l’Arlauriëntur, un empire interstellaire qui, pendant dix mille ans, a dominé ce côté de la galaxie.</p>
<% end %>

<% content_for :book do %>
  <img src="<%= image_path('Copatransit.jpg') %>" class="newsimg"></img>
  <img src="<%= image_path('Dame_de_Fer.jpg') %>" class="newsimg"></img>
  <img src="<%= image_path('Ergartis.jpg') %>" class="newsimg"></img>
  <img src="<%= image_path('campagneLupanar.jpg') %>" class="newsimg"></img>
  <div class="both"></div>
  <h2 class="book">BT1</h2>
  <h2 class="book">BT2</h2>
  <h2 class="book">BT3</h2>
  <h2 class="book">CAMPAGNE</h2>
<% end %>